.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: fit-content;
    border-radius: 4px;
}

.full {
    width: 100%;
}

.small {
    padding: 3px 8px;
}

.medium {
    padding: 6px 16px;
}

.large {
    padding: 10px 16px;
}

.hero {
    border-radius: 8px;
    padding: 17px 24px;
}

.primary {
    background-color: #ff444f;
    color: white;

    &:hover {
        background-color: #eb3e48;
    }

    &:disabled {
        opacity: 0.32;
    }
}

.primary-light {
    background-color: rgba(255, 68, 79, 0.14);
    color: #ff444f;

    &:hover {
        background-color: rgba(255, 68, 79, 0.24);
    }

    &:disabled {
        opacity: 0.16;
    }
}

.dark.primary-light {
    background-color: rgba(255, 68, 79, 0.16);
    color: #ff444f;

    &:hover {
        background-color: rgba(255, 68, 79, 0.24);
    }
    &:disabled {
        opacity: 0.32;
    }
}

.secondary {
    border: 1px solid #999999;
    color: #333333;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    &:disabled {
        opacity: 0.32;
    }
}

.dark.secondary {
    border-color: #6e6e6e;
    background: none;
    color: white;

    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.secondary.medium,
.secondary.small {
    border-width: 1px;
}

.secondary.large,
.secondary.hero {
    border-width: 2px;
}

.tertiary {
    background: none;
    color: #ff444f;

    &:hover {
        background-color: rgba(255, 68, 79, 0.08);
    }

    &:disabled {
        opacity: 0.32;
    }
}
