.tabs {
    @media (max-width: 992px) {
        .content {
            margin-top: 74px;
        }
    }
}

.header {
    position: relative;
    display: grid;
}

.dark {
    @media (max-width: 992px) {
        .content {
            color: #fff;
        }
    }
}

.list {
    list-style-type: none;
    padding-left: 0;
    display: flex;

    @media (max-width: 992px) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transition: all ease-in-out 0.3s;
        overflow-x: auto;
    }
}
