.container {
    position: relative;

    .background {
        border-radius: inherit;
    }

    .card_content {
        // use transform for each size below instead of position to make svg under this element render correctly in Safari.
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
        border-radius: inherit;

        &:not(.disabled *):hover {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 100%);
        }
    }

    &.dark {
        * {
            color: #ffffff;
        }

        .card_content:not(.disabled *):hover,
        &.active .card_content {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.16) 100%);
        }
    }

    &.active {
        // using box-shadow instead of outline because Safari cannot apply radius to outline, and a simple border looks bad:
        box-shadow: 0 0 0 2px #ff444f;

        .card_content {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 100%);
        }
        .active__icon {
            position: absolute;
            z-index: 1;
            top: -4px;
            right: -4px;
            width: 16px;
            height: 16px;

            &:not(.small *) {
                top: calc(50% - 32px / 2);
                right: calc(50% - 32px / 2);
                width: 32px;
                height: 32px;
            }
        }
    }

    &.faded {
        opacity: 0.72;
    }

    &.disabled {
        opacity: 0.32;
    }

    .logo {
        width: 64px;
        height: 40px;
        border-radius: 4px;

        &__aud:not(.small *),
        &__eur:not(.small *),
        &__gbp:not(.small *),
        &__usd:not(.small *) {
            position: relative;
            top: -4px;
            left: -16px;

            @media (max-width: 992px) {
                top: -3px;
                left: -12px;
            }
        }

        &__placeholder {
            background-color: #333;
        }
    }

    &.small {
        height: 40px;
        width: 64px;
        border-radius: 4px;

        .card_content {
            transform: translate3d(0, -44.4px, 0);
            padding: 5px 8px;
        }

        .logo {
            width: 48px;
            height: 30px;
            border-radius: 3px;
        }
    }

    &.medium {
        width: 200px;
        height: 120px;
        border-radius: 8px;

        .card_content {
            transform: translate3d(0, -124.4px, 0);
            padding: 8px;

            @media (max-width: 992px) {
                transform: translate3d(0, -100.4px, 0);
            }
        }

        @media (max-width: 992px) {
            width: 160px;
            height: 96px;
        }

        .logo {
            @media (max-width: 992px) {
                width: 48px;
                height: 30px;
                border-radius: 3px;
            }
        }
    }

    &.large {
        width: 240px;
        height: 144px;
        border-radius: 8px;

        .card_content {
            transform: translate3d(0, -148.5px, 0);
            padding: 16px;

            @media (max-width: 992px) {
                transform: translate3d(0, -132.5px, 0);
            }
        }

        @media (max-width: 992px) {
            width: 216px;
            height: 128px;
        }
    }
}
