.container {
    box-sizing: border-box;
    position: relative;

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .card_content {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        box-sizing: border-box;
    }

    &:hover:not(.faded),
    &.active:not(.faded) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 100%);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 16px 20px rgba(0, 0, 0, 0.05);
    }

    &.dark {
        * {
            color: #ffffff;
        }

        &:hover:not(.faded),
        &.active:not(.faded) {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.16) 100%);
        }
    }

    &.active {
        &:not(.faded) {
            outline: 2px solid #ff444f;
            box-shadow: unset;
        }

        .active__icon {
            position: absolute;
            z-index: 2;
            top: -4px;
            right: -4px;
            width: 16px;
            height: 16px;

            &:not(.small *) {
                top: 16px;
                right: 16px;
                width: 32px;
                height: 32px;
            }
        }
    }

    &.faded {
        opacity: 0.7;
    }

    .logo {
        width: 64px;
        height: 40px;
        border-radius: 4px;
    }

    &.small {
        height: 40px;
        width: 64px;
        border-radius: 4px;
        box-sizing: border-box;

        .background {
            border-radius: inherit;
        }

        .card_content {
            padding: 5px 8px;
        }

        .logo {
            width: 48px;
            height: 30px;
            border-radius: 3px;
        }
    }

    &.medium {
        width: 200px;
        height: 120px;
        border-radius: 8px;
        box-sizing: border-box;

        .background {
            border-radius: inherit;
        }

        .card_content {
            padding: 8px;
        }

        @media (max-width: 992px) {
            width: 160px;
            height: 96px;
        }

        .logo {
            @media (max-width: 992px) {
                width: 48px;
                height: 30px;
                border-radius: 3px;
            }
        }
    }

    &.large {
        width: 240px;
        height: 144px;
        border-radius: 8px;
        box-sizing: border-box;

        .background {
            border-radius: inherit;
        }

        .card_content {
            padding: 16px;
        }

        @media (max-width: 992px) {
            width: 216px;
            height: 128px;
        }
    }
}
