.text {
    color: #333333;
}

.bold {
    font-weight: bold;
}

.hero {
    font-size: 80px;
    line-height: 100px;

    @media (max-width: 992px) {
        font-size: 40px;
        line-height: 50px;
    }
}

.heading-1 {
    font-size: 64px;
    line-height: 80px;

    @media (max-width: 992px) {
        font-size: 32px;
        line-height: 40px;
    }
}

.heading-2 {
    font-size: 48px;
    line-height: 60px;

    @media (max-width: 992px) {
        font-size: 28px;
        line-height: 34px;
    }
}

.heading-3 {
    font-size: 32px;
    line-height: 40px;

    @media (max-width: 992px) {
        font-size: 24px;
        line-height: 30px;
    }
}

.subtitle-1 {
    font-size: 24px;
    line-height: 36px;

    @media (max-width: 992px) {
        font-size: 18px;
        line-height: 26px;
    }
}

.subtitle-2 {
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 992px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.paragraph-1 {
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.paragraph-2 {
    font-size: 14px;
    line-height: 20px;

    @media (max-width: 992px) {
        font-size: 12px;
        line-height: 18px;
    }
}

.small {
    font-size: 12px;
    line-height: 18px;

    @media (max-width: 992px) {
        font-size: 10px;
        line-height: 14px;
    }
}

.extra-small {
    font-size: 10px;
    line-height: 14px;

    @media (max-width: 992px) {
        font-size: 8px;
        line-height: 12px;
    }
}
